# U.S. Medical Insurance Costs

In [11]:

import pandas as pd;

medical_records = pd.read_csv("insurance.csv")

medical_records.head()
medical_records.tail()


# medical_data = pd.DataFrame.from_dict(records)

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603